{:service 1
 :organization 1
 :academicSession 5
 :educationSpecification 30
 :program 20
 :programOffering 10
 :programOfferingAssociation 15
 :course 1
 :courseOffering 10
 :courseOfferingAssociation 15
 :person 5}
