{:service 1
 :organization 1
 :academicSession 5
 :educationSpecification 40
 :program 30
 :programOffering 90
 :programOfferingAssociation 50
 :course 40
 :courseOffering 120
 :courseOfferingAssociation 100
 :person 200}
