<configuration>
  <!--
       This is the development logging configuration and won't be on
       the classpath when running in production.
       For prod or other use cases, set the path to an alternative
       config using
       java -Dlogback.configurationFile=/path/to/config.xml ...
       See https://logback.qos.ch/manual/configuration.html
  -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.eclipse.jetty" level="INFO" />
  <logger name="org.eclipse.jetty.server" level="WARN" />
  <logger name="org.eclipse.jetty.util.log" level="WARN" />
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>