{:types
 [{:name "service"
   :attributes {:contactEmail {:value "jelmer.deronde@surf.nl"}
                :specification {:value "https://open-education-api.github.io/specification/v4/docs.html"}
                :documentation {:value "https://open-education-api.github.io/specification/v4/docs.html"}}}

  {:name "organization"
   :attributes {:_oneCap1 {:hidden true
                           :generator [:char "A" "Z"]}
                :_oneCap2 {:hidden true
                           :generator [:char "A" "Z"]}
                :_oneCap3 {:hidden true
                           :generator [:char "A" "Z"]}
                :_oneCap4 {:hidden true
                           :generator [:char "A" "Z"]}
                :_oneChar {:hidden true
                           :generator [:char "a" "z"]}
                :_oneInt {:hidden true
                          :generator [:char "0" "9"]}
                :_fourInt {:hidden true
                           :generator [:int 1000 9999]}

                :description {:generator [:lorum-ipsum]}

                :_addressType {:hidden true
                               :generator [:one-of ["postal" "visit" "deliveries"]]}
                :_addressStreet {:hidden true
                                 :generator [:one-of-resource-lines "seeds/street-names.txt"]}
                :_addressStreetNumber {:hidden true
                                       :generator [:int 1 200]}
                :_addressAdditional {:hidden true
                                     :generator [:one-of ["" "a" "b"]]}
                :_addressPostalCode {:hidden true
                                     :generator [:format "%d%c%c"]
                                     :deps [:organization/_fourInt :organization/_oneCap3 :organization/_oneCap4]}
                :_addressCity {:hidden true
                               :generator [:one-of-resource-lines "seeds/city-names.txt"]}
                :_addressCountryCode {:hidden true
                                      :value "NL"}
                :_addressGeoLocationLat {:hidden true
                                         :generator [:int 0 85]},
                :_addressGeoLocationLon {:hidden true
                                         :generator [:int 0 180]}
                :_addressGeoLocation {:hidden true
                                      :generator [:object "latitude" "longitude"]
                                      :deps [:organization/_addressGeoLocationLat :organization/_addressGeoLocationLon]}
                :addresses {:generator [:object "type" "street" "streetNumber" "additional" "postalCode" "city" "countryCode" "geoLocation"]
                            :deps [:organization/_addressType :organization/_addressStreet :organization/_addressStreetNumber :organization/_addressAdditional
                                   :organization/_addressPostalCode :organization/_addressCity :organization/_addressCountryCode :organization/_addressGeoLocation]}

                :brin {:generator [:format "%c%c%c%c"]
                       :deps [:organization/_oneInt :organization/_oneChar :organization/_oneCap1 :organization/_oneCap2]}

                :_nameType {:hidden true
                            :generator [:one-of ["Universiteit" "Hogeschool" "Academie"]]}
                :name {:generator [:format "%s van %s"]
                       :deps [:organization/_nameType :organization/_addressCity]}

                :_linkDomainBase {:hidden true
                                  :generator [:sanitize]
                                  :deps [:organization/name]}
                :logo {:generator [:format "https://%s/images/logo.png"]
                       :deps [:organization/_linkDomain]}

                :type {:generator [:one-of ["root" "institution" "department" "faculty"]]}

                :organizationId {:generator [:uuid]}
                :shortName {:generator [:abbreviate]
                            :deps [:organization/name]
                            :constraints [:unique]}

                :_linkDomain {:hidden true
                              :generator [:format "%s.nl"]
                              :deps [:organization/_linkDomainBase]}

                :link {:generator [:format "https://%s/"]
                       :deps [:organization/_linkDomain]}}}

  {:name "academic-session"
   :attributes {:academicSessionId {:generator [:uuid]}
                :_nameType {:hidden true
                            :generator [:one-of ["blok" "periode" "semester"]]}
                :_nameNumber {:hidden true
                              :generator [:int 1 2]}
                :name {:generator [:format "%s %s"]
                       :deps [:academic-session/_nameType :academic-session/_nameNumber]}
                :_termMinYear {:hidden true :value 1990}
                :_termMaxStartYear {:hidden true :value 2019}
                :_termStartMonth {:hidden true
                                  :generator [:one-of ["february" "september"]]}
                :_termStartYear {:hidden true
                                 :generator [:int]
                                 :deps [:academic-session/_termMinYear :academic-session/_termMaxStartYear]}
                :startDate {:generator [:first-weekday-of "monday"]
                            :deps [:academic-session/_termStartYear :academic-session/_termStartMonth]}
                :_termStartYearAfter {:hidden true
                                      :generator [:inc]
                                      :deps [:academic-session/_termStartYear]}
                :_termMaxEndYear {:hidden true
                                  :value 2030}
                :_termEndYear {:hidden true
                               :generator [:int]
                               :deps [:academic-session/_termStartYearAfter :academic-session/_termMaxEndYear]}
                :_termEndMonth {:hidden true
                                :generator [:one-of ["january" "august"]]}
                :endDate {:generator :last-day-of
                          :deps [:academic-session/_termEndYear :academic-session/_termEndMonth]}}}

  {:name "program"
   :refs {:organization {:hidden false
                         :deps [:organization/organizationId]}}
   :attributes {:description {:generator :lorum-ipsum}
                :crohoCreboCode {:generator [:one-of ["Economie" "Gezondheidszorg" "Gedrag & Maatschappij" "Landbouw & Natuurlijke omgeving"
                                                      "Natuur" "Onderwijs" "Taal & Cultuur" "Recht" "Techniek" "Sectoroverstijgend"]]}
                :fieldsOfStudy {:generator [:one-of ["0011" "0021" "0031" "0111" "0112" "0113" "0114" "0211" "0212" "0213" "0214" "0215" "0221"
                                                     "0222" "0223" "0231" "0232" "0311" "0312" "0313" "0314" "0321" "0322" "0411" "0412" "0413"
                                                     "0414" "0415" "0416" "0417" "0421" "0511" "0512" "0521" "0522" "0531" "0532" "0533" "0541"
                                                     "0542" "0611" "0612" "0613" "0711" "0712" "0713" "0714" "0715" "0716" "0721" "0722" "0723"
                                                     "0724" "0731" "0732" "0811" "0812" "0821" "0831" "0841" "0911" "0912" "0913" "0914" "0915"
                                                     "0916" "0917" "0921" "0922" "0923" "1011" "1012" "1013" "1014" "1015" "1021" "1022" "1031"
                                                     "1032" "1041"]]}
                :name {:generator [:one-of-keyed-resource "seeds/programme-names.yml"]
                       :deps [:program/crohoCreboCode]}
                :sector {:generator [:one-of ["secondary vocational education" "higher professional education" "university education"]]}
                :type {:generator [:one-of ["program" "minor" "honours" "specialization" "elective" "module" "track" "joint-degree" "alliance"]]}
                :levelOfQualification {:generator [:one-of ["1" "2" "3" "4" "4+" "5" "6" "7" "8"]]}
                :programId {:generator [:uuid]}
                :ects {:generator [:weighted {30 2 60 3 180 1}]}
                :lengthOfProgam {:hidden true
                                 :generator [:weighted {6 2 12 3 36 1}]}
                :qualificationAwarded {:generator [:one-of ["AD" "BA" "BSc" "LLB" "MA" "MSc" "LLM" "Phd" "None"]]}
                :link {:generator [:format "https://%s/programs/%s"]
                       :deps [[:program/organization :organization/_linkDomain]
                              :program/programId]}
                :profileOfProgram {:generator [:lorum-ipsum]}
                :learningOutcomes {:generator [:lorum-ipsum]}
                :admissionRequirements {:generator :lorum-ipsum}
                :abbreviation {:generator "abbreviate"
                               :deps [:program/name]
                               :constraints [:unique]}
                :qualificationRequirements {:generator :lorum-ipsum}}}

  {:name "course"
   :refs {:organization {:hidden false
                         :deps [:organization/organizationId]}
          :program {:hidden false
                    :deps [:program/programId]}
          :coordinator {:hidden false
                        :deps [:person/personId]}}
   :attributes {:description {:generator [:lorum-ipsum]}
                :requirements {:generator [:lorum-ipsum]}
                :enrollment {:generator [:lorum-ipsum]}
                :modeOfDelivery {:generator [:one-of ["distance-learning" "on campus" "online" "hybrid" "situated"]]}
                :_nameFormat {:hidden true
                              :generator [:one-of ["Inleiding tot %s" "Geschiedenis van de %s" "Filosofie van %s" "Psychologie van de %s" "Wiskunde van de %s"
                                                   "Macro %s" "Micro %s" "%s in de praktijk" "%s in de vorige eeuw" "%s van de toekomst" "%s voor gevorderden"]]}
                :name {:generator [:format]
                       :deps [:course/_nameFormat
                              :course/_nameProgram]}
                :assessment {:generator [:lorum-ipsum]}
                :level {:generator [:one-of ["secondary vocational education 3" "secondary vocational education 4" "associate degree"
                                             "bachelor"  "master" "doctoral"]]}
                :ects {:generator [:weighted {18 3 12 4 24 3 10 1 9 3
                                              5 1 7.5 2 15 2 3 3 6 4}]}
                :link {:generator [:format "https://%s/courses/%s"]
                       :deps [[:course/organization :organization/_linkDomain]
                              :course/courseId]}
                :learningOutcomes {:generator [:lorum-ipsum]}
                :resources {:generator [:lorum-ipsum]}
                :courseId {:generator [:uuid]}
                :abbreviation {:generator [:abbreviate]
                               :deps [:course/name]
                               :constraints [:unique]}
                :_nameProgram {:hidden true
                               :generator [:one-of-keyed-resource "seeds/programme-names.yml"]
                               :deps [[:course/program :program/crohoCreboCode]]}}}

  {:name "programOffering"
   :refs {:program {:deps [:program/programId]
                    :hidden false}
          :organization {:hidden false
                         :deps [:organization/organizationId]}
          :academicSession {:hidden false
                            :deps [:academic-session/academicSessionId]}}
   :attributes {:offeringId               {:generator [:uuid]}
                :type                     {:value "program"}
                :name                     {:generator [:format "%s - %s"]
                                           :deps [[:programOffering/program :program/name]
                                                  [:programOffering/academicSession :academic-session/name]]}
                :abbreviation             {:deps [[:programOffering/program :program/abbreviation]]}
                :description              {:deps [[:programOffering/program :program/description]]}
                :mainLanguage             {:generator [:one-of ["nl-NL" "en-GB"]]}
                :maxNumberStudents        {:generator [:int-cubic 5 180]}
                :enrolledNumberStudents   {:deps [:programOffering/maxNumberStudents]
                                           :generator [:int 0]}
                :_maxNumberPendingStudents {:deps [:programOffering/maxNumberStudents
                                                   :programOffering/enrolledNumberStudents]
                                            :generator [:minus]
                                            :hidden true}
                :pendingNumberStudents    {:deps [:programOffering/_maxNumberPendingStudents]
                                           :generator [:int 0]}
                :isLineItem               {:generator [:boolean]}
                :resultValueType          {:generator [:one-of ["pass-or-fail" "US letter" "UK letter" "0-100" "1-10"]]}
                :modeOfStudy              {:generator [:one-of ["full-time" "part-time" "dual training" "self-paced"]]}
                :startDate                {:generator [:format "%tF"]
                                           :deps [[:programOffering/academicSession :academic-session/startDate]]}
                :endDate                  {:generator [:format "%tF"]
                                           :deps [[:programOffering/academicSession :academic-session/endDate]]}}}

  {:name "courseOffering"
   :refs {:course {:deps [:course/courseId]
                   :hidden false}
          :organization {:hidden false
                         :deps [:organization/organizationId]}
          :academicSession {:hidden false
                            :deps [:academic-session/academicSessionId]}}
   :attributes {:offeringId               {:generator [:uuid]}
                :type                     {:value "course"}
                :name                     {:generator [:format "%s - %s"]
                                           :deps [[:courseOffering/course :course/name]
                                                  [:courseOffering/academicSession :academic-session/name]]}
                :abbreviation             {:deps [[:courseOffering/course :course/abbreviation]]}
                :description              {:deps [[:courseOffering/course :course/description]]}
                :mainLanguage             {:generator [:one-of ["nl-NL" "en-GB"]]}
                :maxNumberStudents        {:generator [:int-cubic 5 180]}
                :enrolledNumberStudents   {:deps [:courseOffering/maxNumberStudents]
                                           :generator [:int 0]}
                :_maxNumberPendingStudents {:deps [:courseOffering/maxNumberStudents
                                                   :courseOffering/enrolledNumberStudents]
                                            :generator [:minus]
                                            :hidden true}
                :pendingNumberStudents    {:deps [:courseOffering/_maxNumberPendingStudents]
                                           :generator [:int 0]}
                :isLineItem               {:generator [:boolean]}
                :resultValueType          {:generator [:one-of ["pass-or-fail" "US letter" "UK letter" "0-100" "1-10"]]}
                :modeOfStudy              {:generator [:one-of ["full-time" "part-time" "dual training" "self-paced"]]}
                :startDate                {:generator [:format "%tF"]
                                           :deps [[:courseOffering/academicSession :academic-session/startDate]]}
                :endDate                  {:generator [:format "%tF"]
                                           :deps [[:courseOffering/academicSession :academic-session/endDate]]}}}

  {:name "person"
   :refs {:organization {:hidden false
                         :deps [:organization/organizationId]}}
   :attributes {:affiliations {:value ["employee"]}
                :_mobileNumber {:hidden true
                                :generator [:int 0 99999999]
                                :constraints ["unique"]}
                :personId {:generator [:uuid]
                           :constraints [:unique]}
                :_mailName {:hidden true
                            :generator [:sanitize]
                            :deps [:person/displayName]
                            :constraints [:unique]}
                :displayName {:generator [:join]
                              :deps [:person/givenName :person/surnamePrefix :person/surname]}
                :mail {:generator [:format "%s@%s"]
                       :deps [:person/_mailName [:person/organization
                                                 :organization/_linkDomain]]}
                :surname {:generator [:one-of-resource-lines "seeds/last-names.txt"]}
                :_telephoneNumber {:hidden true
                                   :generator [:int 100000000 999999999]
                                   :constraints [:unique]}
                :_office1 {:hidden true
                           :generator [:char "A" "Z"]}
                :title {:optional true
                        :generator [:weighted {"bacc" 2 "ing." 5 "drs." 4 "" 50
                                               "mr" 4 "kand." 2 "ir." 4 "dr." 4
                                               "prof." 4}]}
                :_office6 {:hidden true, :generator [:char "0" "9"]}
                :telephoneNumber {:generator [:format "0%09d"]
                                  :deps [:person/_telephoneNumber]}
                :dateOfBirth {:generator [:date "1990-01-01" "2005-01-01"]}
                :office {:generator [:format "%c%c%c %c.%c%c"]
                         :deps [:person/_office1 :person/_office2 :person/_office3 :person/_office4 :person/_office5 :person/_office6]}
                :_office3 {:hidden true
                           :generator [:char "A" "Z"]}
                :photoOfficial {:value "https://docs.atlassian.com/aui/8.4.1/docs/images/avatar-person.svg"}
                :surnamePrefix {:optional true
                                :generator [:weighted {"aan de" 1 "bij" 1 "van 't" 2 "op 't" 1
                                                       "van" 3 "bij de" 1 "" 50 "bij het" 1 "op de" 1
                                                       "in de" 2 "van het" 3 "in 't" 2 "van de" 3 "aan het" 1
                                                       "op het" 1}]}
                :photoSocial {:value "https://docs.atlassian.com/aui/8.4.1/docs/images/avatar-person.svg"}
                :givenName {:generator [:one-of-resource-lines "seeds/first-names.txt"]}
                :_office5 {:hidden true
                           :generator [:char "0" "9"]}
                :gender {:generator [:weighted {"M" 46 "F" 50 "X" 2 "U" 2}]}
                :_office2 {:hidden true :generator [:char "A" "Z"]}
                :mobileNumber {:generator [:format "06%08d"]
                               :deps [:person/_mobileNumber]}
                :_office4 {:hidden true
                           :generator [:char "0" "9"]}}}

  {:name "programAssociation"
   :refs {:programOffering {:hidden false
                            :deps [:programOffering/offeringId]}
          :person {:hidden false
                   :deps [:person/personId]}}
   :attributes {:role {:generator [:one-of ["lecturer" "coordinator"]]}
                :_resultState {:hidden true
                               :generator [:one-of ["in progress" "postponed" "completed"]]}
                :associationId {:generator [:uuid]}
                :_resultResultDate {:hidden true
                                    :generator [:date "2000-01-01" "2020-01-01"]}
                :type {:value "programOfferingAssociation"}
                :state {:generator [:one-of ["pending" "canceled"  "denied" "associated"]]}
                :result {:generator [:object "state" "comment" "score" "resultDate" "ects"]
                         :deps [:programAssociation/_resultState
                                :programAssociation/_resultComment
                                :programAssociation/_resultScore
                                :programAssociation/_resultResultDate
                                :programAssociation/_resultEcts]}
                :_resultEcts {:hidden true
                              :generator [:weighted {18 3 12 4 24 3 10 1 9 3 5 1 7.5 2 15 2 3 3 6 4}]}
                :_resultScore {:hidden true
                               :generator [:weighted {8.5 2 5.5 4 10 1 4 2 7 4 4.5 2 6.5 5 1 1 8 2 9 1
                                                      2 1 5 3 7.5 3 3 1 6 5}]}
                :_resultComment {:hidden true
                                 :generator [:lorum-ipsum]}}}

  {:name "courseAssociation"
   :refs {:courseOffering {:hidden false
                           :deps [:courseOffering/offeringId]}
          :person {:hidden false
                   :deps [:person/personId]}}
   :attributes {:role {:generator [:one-of ["lecturer" "coordinator"]]}
                :_resultState {:hidden true
                               :generator [:one-of ["in progress" "postponed" "completed"]]}
                :associationId {:generator [:uuid]}
                :_resultResultDate {:hidden true
                                    :generator [:date "2000-01-01" "2020-01-01"]}
                :type {:value "courseOfferingAssociation"}
                :state {:generator [:one-of ["pending" "canceled"  "denied" "associated"]]}
                :result {:generator [:object "state" "comment" "score" "resultDate" "ects"]
                         :deps [:courseAssociation/_resultState
                                :courseAssociation/_resultComment
                                :courseAssociation/_resultScore
                                :courseAssociation/_resultResultDate
                                :courseAssociation/_resultEcts]}
                :_resultEcts {:hidden true
                              :generator [:weighted {18 3 12 4 24 3 10 1 9 3 5 1 7.5 2 15 2 3 3 6 4}]}
                :_resultScore {:hidden true
                               :generator [:weighted {8.5 2 5.5 4 10 1 4 2 7 4 4.5 2 6.5 5 1 1 8 2 9 1
                                                      2 1 5 3 7.5 3 3 1 6 5}]}
                :_resultComment {:hidden true
                                 :generator [:lorum-ipsum]}}}]}
