{:types
 [{:name "service"
   :attributes {:contactEmail {:value "jelmer.deronde@surf.nl"}
                :specification {:value "https://open-education-api.github.io/specification/v4/docs.html"}
                :documentation {:value "https://open-education-api.github.io/specification/v4/docs.html"}}}

  {:name "course"
   :attributes {:courseId {:generator [:uuid]}
                :name {:generator [:string]}
                :abbreviation {:generator [:abbreviate]
                               :deps [:course/name]}
                :ects {:generator [:one-of [2.5 3 4.5 5 7.5 10 15 30]]}
                :description {:generator [:string]}
                :learningOutcomes {:generator [:string]}
                :requirements {:generator [:string]}
                :level {:generator [:one-of ["mbo 3" "mbo 4" "associate degree" "bachelor" "master" "doctoral"]]}
                :modeOfDelivery {:generator [:one-of ["distance-learning" "on campus" "online" "hybrid" "situated"]]}
                :enrollment {:generator [:string]}
                :resources {:generator [:string]}
                :assessment {:generator [:string]}
                :link {:generator [:string]}}}]}



