{:service 1
 :organisation 1
 :academicSession 5
 :programme 30
 :programmeOffering 90
 :programmeOfferingAssociation 50
 :course 40 
 :courseOffering 120
 :person 200
 :learningOutcome 100
 :group 60
 :course-programme 20
 :testComponentOffering 20
 :testComponentOfferingAssociation 100
 :testComponent 10
 :learningComponentOffering 20
 :learningComponentOfferingAssociation 100
 :membership 500
 :building 5}
