{:service 1
 :organisation 1
 :academicSession 5
 :programme 30
 :programmeOffering 90
 :programmeOfferingAssociation 50
 :course 40 
 :courseOffering 120
 :person 200
 :learningOutcome 100
 :course-programme 20}
